################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsProject1/.vs/WindowsProject1/v15/Browse.VC.opendb
/WindowsProject1/.vs/WindowsProject1/v15/Browse.VC.db
